absl-py==0.15.0
adjustText==0.7.3
alabaster==0.7.12
altair==4.1.0
altair-catplot==0.0.5
altair-data-server==0.4.1
altair-saver==0.5.0
altair-viewer==0.4.0
anndata @ git+https://github.com/theislab/anndata.git@2723c9c9e8bc0fe50a9513f292916616a603923b
annoy==1.17.0
appdirs==1.4.4
apptools==5.2.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
astunparse==1.6.3
async-generator==1.10
attrs==21.3.0
Babel==2.10.3
backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
beautifulsoup4==4.9.3
bioservices==1.7.11
bleach==4.1.0
brainsmash==0.11.0
cached-property==1.5.2
cachetools==4.2.4
certifi==2021.5.30
cffi==1.15.1
chardet==4.0.0
chromedriver-binary==135.0.7010.2.0
ci-info==0.2.0
clang==5.0
click==8.0.4
cmdstanpy==0.9.5
cognitiveatlas==0.1.9
colorama==0.4.4
colorlog==4.7.2
configobj==5.0.8
configparser==5.2.0
connected-components-3d==3.6.0
convertdate==2.3.2
cycler==0.10.0
Cython==0.29.32
dataclasses==0.8
decorator @ file:///home/ktietz/src/ci/decorator_1611930055503/work
deepbet==0.0.2
deepdish==0.3.7
defusedxml==0.7.1
docutils==0.17.1
dyneusr==0.3.10
easydev==0.11.0
eli5==0.13.0
entrypoints==0.3
envisage==6.1.1
ephem==4.1.3
et-xmlfile==1.1.0
etelemetry==0.2.2
fa2==0.3.5
fastremap==1.13.4
fbpca==1.0
filelock==3.4.1
fill-voids==2.0.7
flatbuffers==1.12
freesurfer-stats==1.2.1
funcsigs==1.0.2
future==0.18.2
fuzzywuzzy==0.18.0
gast==0.4.0
geosketch==1.2
get-version==2.1
gevent==21.1.2
graphviz==0.19.1
greenlet==1.0.0
grequests==0.6.0
grpcio==1.48.1
gseapy==0.10.4
h5py==3.1.0
hijri-converter==2.2.4
holidays==0.13
idna==2.10
imagesize==1.4.1
importlib-metadata==4.8.3
importlib-resources==5.4.0
indexed-gzip==1.6.4
inflection==0.5.1
iniconfig==1.1.1
intervaltree==2.1.0
ipykernel @ file:///tmp/build/80754af9/ipykernel_1596206602906/work/dist/ipykernel-5.3.4-py3-none-any.whl
ipython @ file:///tmp/build/80754af9/ipython_1593447367857/work
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
ipywidgets==7.7.1
isodate==0.6.1
jedi==0.17.0
Jinja2==3.0.3
joblib==1.0.1
jsonschema==3.2.0
kaleido==0.2.1
keras==2.6.0
Keras-Preprocessing==1.1.2
kiwisolver @ file:///tmp/build/80754af9/kiwisolver_1612282412546/work
kmapper==1.2.0
korean-lunar-calendar==0.3.1
legacy-api-wrap==1.2
leidenalg==0.8.3
lightgbm==3.3.2
littleutils==0.2.2
llvmlite==0.35.0
LunarCalendar==0.0.9
lxml==4.6.2
Markdown==3.3.7
MarkupSafe==2.0.1
matplotlib==3.3.4
mayavi==4.8.0
mistune==0.8.4
mne==0.23.4
mne-features==0.1
more-itertools==8.14.0
mpmath==1.2.1
mripy==0.7.3
natsort==7.1.1
nbclient==0.5.9
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.5
nibabel==3.2.1
nilearn==0.7.1
NiMARE==0.0.10
nipype==1.7.1
nistats==0.0.1rc0
nitime==0.9
nmslib==2.1.1
numba==0.52.0
numexpr==2.7.3
numpy==1.19.5
oauthlib==3.2.1
openpyxl==3.0.10
opt-einsum==3.3.0
outdated==0.2.1
packaging==20.9
pacmap==0.4.3
palettable==3.3.0
pandas==1.1.5
pandas-datareader==0.10.0
pandas-flavor==0.2.0
pandocfilters==1.5.0
parso @ file:///tmp/build/80754af9/parso_1607623074025/work
patsy==0.5.1
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
Pillow==8.1.2
pingouin==0.3.12
plotly==5.5.0
pluggy==1.0.0
portpicker==1.6.0
prometheus-client==0.14.1
prompt-toolkit @ file:///tmp/build/80754af9/prompt-toolkit_1602688806899/work
proplot==0.9.4
protobuf==3.19.5
prov==2.0.1
psutil==5.8.0
psynlig==0.2.1.dev0
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
py==1.11.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybind11==2.6.1
pycparser==2.21
pydicom==2.3.1
pydot==1.4.2
pyface==7.4.4
Pygments @ file:///tmp/build/80754af9/pygments_1615143339740/work
PyMARE==0.0.2
PyMeeus==0.5.11
pynndescent==0.5.2
pyparsing==2.4.7
pyrsistent==0.18.0
pySankey==0.0.1
PySide2==5.15.2.1
pystan==2.19.1.1
pysurfer==0.11.0
pytest==7.0.1
python-dateutil @ file:///home/ktietz/src/ci/python-dateutil_1611928101742/work
python-igraph==0.9.0
pytz==2021.1
PyWavelets==1.1.1
PyYAML==6.0
pyzmq==20.0.0
qtconsole==5.2.2
QtPy==2.0.1
Quandl==3.7.0
rdflib==5.0.0
requests==2.25.1
requests-cache==0.5.2
requests-oauthlib==1.3.1
rsa==4.9
SCALECAST==0.14.3
scanorama==1.7
scanpy==1.7.1
scedar==0.2.0
scikit-learn==0.24.2
scipy==1.5.4
seaborn==0.9.0
selenium==3.141.0
Send2Trash==1.8.0
setuptools-git==1.2
Shapely==1.8.2
shiboken2==5.15.2.1
simplejson==3.19.3
sinfo==0.3.1
six @ file:///tmp/build/80754af9/six_1605205335545/work
skbold==0.3.3
sklearn==0.0
snowballstemmer==2.2.0
sortedcontainers==2.3.0
soupsieve==2.2
statannotations==0.6.0
statsmodels==0.12.2
stdlib-list==0.8.0
suds-jurko==0.6
sympy==1.9
tables==3.6.1
tabulate==0.8.10
tenacity==8.0.1
termcolor==1.1.0
terminado==0.12.1
testpath==0.6.0
texttable==1.6.3
threadpoolctl==2.1.0
tomli==1.2.3
toolz==0.11.2
torch==1.10.2
tornado @ file:///tmp/build/80754af9/tornado_1606942266872/work
tqdm==4.59.0
traitlets==4.3.3
traits==6.4.1
traitsui==7.4.3
typing-extensions==3.7.4.3
urllib3==1.26.16
vtk==8.1.2
wcwidth @ file:///tmp/build/80754af9/wcwidth_1593447189090/work
webencodings==0.5.1
Werkzeug==2.0.3
widgetsnbextension==3.6.1
wordcloud==1.8.1
wrapt==1.12.1
xarray==0.16.2
xgboost==1.3.3
xlrd==1.2.0
xmltodict==0.12.0
zipp==3.4.1
zope.event==4.5.0
zope.interface==5.2.0
